body
{
	text-align: center;
}

#main
{
	margin-left: auto;
	margin-right: auto;
	width: 963px;
}

.follow
{
	height: 48px;
	width: 275px;
	border: 1px solid black;
	margin: 2px;
	float: left;
	padding: 20px;
	text-align: left;
}

.follow .checkbox
{
	float: left;
	margin: 17px 15px 0 0;
}

.follow .icon
{
	float: left;
	padding-right: 15px;
	height: 48px;
	width: 48px;
}

.follow .info
{
	float: left;
	padding-top: 13px;
}

.follow .info a
{
    text-decoration: none;
    color: darkblue;
}

.follow .info a:hover
{
    font-weight: bold;
}

.nobody
{
	padding-left: 40px;
	font-style: italic;
	color: darkblue;
}
